NEON_DATABASE_URL=postgresql://demo_owner:Dt7YMBwr6bTU@ep-summer-haze-a5kprmbj.us-east-2.aws.neon.tech/demo?sslmode=require
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Y29tcG9zZWQtZmFsY29uLTY5LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_fA7CJJ2KYeOYuJBQsdiNIXUv2foH3AQ8sY69UdI5KR